body {
    background-color: #282828;
}

header {
    margin-top: 50px;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2 {
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p {
    color: black;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
}

#cali {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

main {
    width: 600px;
    height: 500px;
    margin: auto;
    position: relative;
}

main #one {
    position: absolute;
    top: 300px;
    left: 160px;
}

main #two {
    position: absolute;
    top: 285px;
    left: 140px;
}

main #three {
    position: absolute;
    top: 295px;
    left: 147px;
}

main #four {
    position: absolute;
    top: 195px;
    left: 185px;
}

main #five {
    position: absolute;
    top: 205px;
    left: 165px;
}

.corner {
    font-size: 30px;
    margin-top: 10px;
    padding: 0px;
    border:none;
    background-color: transparent;
    color:red;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-left: auto;
}


.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.overlay article {
    box-sizing: border-box;
    background-color:#fff;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
    width: 300px;
    flex-direction: column;
    align-content: center;
}

/* .close {
    max-height: 20px;
    max-width: 50px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: center;
} */

article img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
}
