body {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    background: rgb(246,166,148);
    background: linear-gradient(0deg, rgb(246, 166, 148) 0%, rgba(169,172,242,1) 100%);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: rgb(14, 14, 68);
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 100px;
}

h2 {
    margin: 0;
    font-size: 1.2em;
}

p{
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-style: normal;  
}

#Shiromon {
    margin: auto;
}

#Kuromon {
    margin: auto;
}

#game {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto 50px auto;
}

.health {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 20px;
}

#healthbar0, #healthbar1 {
    width: 75%;
    height: 15px;
    border: 2px solid #3bba37;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    
}

#healthbar0 div, #healthbar1 div{
    width: 100%;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #93e18e;
}

.nametag {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: auto;
    border: 2px solid #ffe5fd;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
}

#messages {
    max-width: 1000px;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
    margin: auto;
    border: 5px solid #9747ff;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    flex: 1;
}

#action {
    max-width: 1000px;
    text-align: center;
    padding: 30px;
    margin: auto;
    border: 5px solid #9747ff;
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
    background: rgb(103,66,190);
    background: linear-gradient(0deg, rgba(103,66,190,1) 0%, rgba(141,146,255,1) 100%);
    display: flex;
    gap: 20px;
}

#start {
    padding: 10px;
    border: 5px solid rgba(55,153,15,1);
    border-radius: 20px;
    background: rgb(55,153,15);
    background: linear-gradient(0deg, rgba(55,153,15,1) 0%, rgba(122,200,75,1) 100%);
    color: #ccfcc9;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#start:hover {
    padding: 10px;
    border: 5px solid rgba(55,153,15,1);
    border-radius: 20px;
    background: rgb(128,212,93);
    background: linear-gradient(0deg, rgba(128,212,93,1) 0%, rgba(180,240,144,1) 100%);
    color: rgba(55,153,15,1);
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#reset {
    padding: 10px;
    border: 5px solid rgba(55,153,15,1);
    border-radius: 20px;
    background: rgb(55,153,15);
    background: linear-gradient(0deg, rgba(55,153,15,1) 0%, rgba(122,200,75,1) 100%);
    color: #ccfcc9;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#reset:hover {
    padding: 10px;
    border: 5px solid rgba(55,153,15,1);
    border-radius: 20px;
    background: rgb(128,212,93);
    background: linear-gradient(0deg, rgba(128,212,93,1) 0%, rgba(180,240,144,1) 100%);
    color: rgba(55,153,15,1);
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#attack {
    padding: 10px;
    border: 5px solid #bc4024;
    border-radius: 20px;
    background: rgb(188,64,36);
    background: linear-gradient(0deg, rgba(188,64,36,1) 0%, rgba(246,166,148,1) 100%);
    color: #ffdcd4;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    flex: 1;
}

#attack:hover {
    padding: 10px;
    border: 5px solid #b44848;
    border-radius: 20px;
    background: rgb(250,124,96);
    background: linear-gradient(0deg, rgba(250,124,96,1) 0%, rgba(246,166,148,1) 100%);
    color: #882b2b;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    flex: 1;
}

#game .turn1 {
    transform: scale(1.25) translateY(30px);
}

#game .turn2 {
    transform: scale(0.75) translateY(-100px);
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

/* battle animations */

/* Note the use of names for these classes. They all have the same names 
with a number at the end, so that if the user rolls a 0, 1, 2, etc, that
number can just be tacked on to the class name in JS. */
.attack0 {
    animation: veryweak 1s ease-in-out 2;
}

.attack1 {
    animation: weak 1s ease-in-out 2;
}

.attack2 {
    animation: medium 1s ease-in-out 2;
}

.attack3 {
    animation: strong 1s ease-in-out 2;
}

.attack4 {
    animation: massive 1s ease-in-out 2;
}

.defend2 {
    animation: gobig 2s ease-in-out 1;
}

.defend0 {
    animation: ouchie 1s ease-in-out 2;
}

.defend1{
    animation: ouch 1s ease-in-out 2;
}

@keyframes veryweak {
    0% {transform: translateX(0);}
    20% {transform: translateX(2px);}
    40% {transform: translateX(-2px);}
    60% {transform: translateX(4px);}
    80% {transform: translateX(-4px);}
    100% {transform: translateX(0);}
}

@keyframes weak {
    0% {transform: translateX(0);}
    20% {transform: translateX(5px);}
    40% {transform: translateX(-5px);}
    60% {transform: translateX(10px);}
    80% {transform: translateX(-10px);}
    100% {transform: translateX(0);}
}

@keyframes medium {
    0% {transform: translateX(0);}
    10% {transform: translateX(-5px);}
    20% {transform: translateX(5px);}
    30% {transform: translateX(-10px);}
    40% {transform: translateX(10px);}
    50% {transform: translateX(-15px);}
    60% {transform: translateX(20px);}
    70% {transform: translateX(-20px);}
    80% {transform: translateX(25px);}
    90% {transform: translateX(-25px);}
    100% {transform: translateX(0);}
}

@keyframes strong {
    0% {transform: translateX(0);}
    10% {transform: translateX(-10px);}
    20% {transform: translateX(10px);}
    30% {transform: translateX(-20px);}
    40% {transform: translateX(20px);}
    50% {transform: translateX(-30px);}
    60% {transform: translateX(30px);}
    70% {transform: translateX(-40px);}
    80% {transform: translateX(40px);}
    90% {transform: translateX(-50px);}
    100% {transform: translateX(0);}
}

@keyframes massive {
    0% {transform: translateX(0);}
    10% {transform: translateX(-15px);}
    20% {transform: translateX(15px);}
    30% {transform: translateX(-30px);}
    40% {transform: translateX(30px);}
    50% {transform: translateX(-45px);}
    60% {transform: translateX(45px);}
    70% {transform: translateX(-60px);}
    80% {transform: translateX(60px);}
    90% {transform: translateX(-75px);}
    100% {transform: translateX(0);}
}

@keyframes gobig {
    0% {transform: scale(1);}
    20% {transform: scale(1.5) rotate(-10deg);}
    40% {transform: scale(1.5) rotate(10deg);}
    60% {transform: scale(1.5) rotate(-10deg);}
    80% {transform: scale(1.5) rotate(0deg);}
    100% {transform: scale(1);}
}

@keyframes ouchie {
    0% {opacity: 1;}
    25% {opacity: 0.75;}
    50% {opacity: 1;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

@keyframes ouch {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}